*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
}
h1{
    font-size: 40px;
}

.grid{
    display: grid;
    width: 80vmin;
    height: 80vmin;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 2px solid black;
    border-radius: 15px;
}

.square{
    border: 1px solid black;
}